<div class="container home__container">
  <div class="row">
    <div class="col-md-4 list__label">
      <div>List of Employees</div>
      <button (click)="openCreate()">Add</button>
      <button (click)="openEdit()">Edit</button>
      <button (click)="showConfirmation()">Delete</button>
    </div>
    <div class="col-md-7 details__label">
      <span>Employee Details</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 employee_container">
      <div *ngFor="let employee of employees" class="employee__item">
        <div (click)="changeSelectedItem(employee.id)">
          {{ employee.fullName }}
        </div>
      </div>
    </div>
    <div class="col-md-7 employee__details">
      <table *ngIf="!isLoading">
        <tr>
          <td>First name:</td>
          <td>{{ employeeDetail.firstName }}</td>
        </tr>
        <tr>
          <td>Last name:</td>
          <td>{{ employeeDetail.lastName }}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{ employeeDetail.gender }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ employeeDetail.city }}</td>
        </tr>
      </table>
      <div *ngIf="isLoading" class="loading__container">
        <img
          src="https://media1.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif"
          class="loading__img"
        />
      </div>
    </div>
  </div>
  <div class="confirmation__container" *ngIf="confirmation">
    <p class="confirmation__label">
      Are you sure, you want to delete selected employee ({{
        employeeDetail.firstName + " " + employeeDetail.lastName
      }})?
    </p>
    <button class="confirmation__button" (click)="deleteSelected()">
      Delete
    </button>
    <button class="confirmation__button" (click)="cancelDelete()">
      Cancel
    </button>
  </div>
</div>
